<!DOCTYPE html>
<html>
<head>
    <title>Decrypt content</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', path='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="formbold-logo-wrapper"><a href="https://f418.me">
            <img src="{{ url_for('static', path='/logo.svg') }}" alt="logo" width="150" height="45"/>
        </a>
    </div>

<div class="formbold-main-wrapper">
  <!-- Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->

  <div class="formbold-form-wrapper">
    <form action="/" method="POST">
        <div class="formbold-input-flex">
          <div>
              <label for="preimage" class="formbold-form-label"> preimage (key hex)</label>
              <input
              type="text"
              name="preimage"
              id="preimage"
              placeholder="64 hex char (z.B. a1b2...)"
              class="formbold-form-input"
              required
              />
          </div>
        </div>
        <div class="formbold-input-flex">
            <div>
                <label for="nonce_hex" class="formbold-form-label"> nonce (hex)</label>
                <input
                type="text"
                name="nonce_hex"
                id="nonce_hex"
                placeholder="24 hex char (z.B. c3d4...)"
                class="formbold-form-input"
                required
                />
            </div>
        </div>

        <div>
            <label for="content_encrypted" class="formbold-form-label"> encrypted content (Base64)</label>
            <textarea
                rows="6"
                name="content_encrypted"
                id="content_encrypted"
                placeholder="base64 coded content..."
                class="formbold-form-input"
                required
            ></textarea>
        </div>

        <button class="formbold-btn">
            Decrypt  content
        </button>
         {% if error_message %}
         <div id="error" class="formbold-response-wrapper" style="margin-top: 15px; border: 1px solid red; padding: 10px; color: red; background-color: #ffeeee;">
             <p><strong>Fehler:</strong> {{ error_message }}</p>
         </div>
         {% endif %}
    </form>
  </div>
</div>
</body>
</html>